<!-- メッセージとか -->
<p id="notice"><%= notice %></p>
<%= render 'layouts/show_danger_msg' %>


<div class="user_form">

  <%= form_with(model: @user, local: true) do |form| %>

    <h3>ユーザー情報編集</h3>

    <div class="line_info">
      <%= form.label "メールアドレス(※)",class: "line_content_1"   %>
      <label class="line_content_2_large_interval" ><%= @user.email %></label>
    </div>

    <div class="line_info">
      <%= form.label "管理業者名",class: "line_content_1"   %>
      <%= form.text_field :name ,class: "line_content_2_large_interval" ,maxlength: 40 %>
    </div>

    <div class="line_info">
      <%= form.label "住所" ,class: "line_content_1" %>
      <%= form.text_field :address ,class: "line_content_2_large_interval",maxlength: 255 %>
    </div>

    <div class="bisecting_box">
      <div class="bisecting_1">
        <%= form.label "緯度" %>
        <%= form.text_field :lat  %>
      </div>

      <div class="bisecting_2">
        <%= form.label "経度" %>
        <%= form.text_field :lon %>
      </div>

    </div>

    <div class="line_info">
      <%= form.label "ホームページアドレス" ,class: "line_content_1" %>
      <%= form.text_field :url ,class: "line_content_2_large_interval",maxlength: 4096 %>
    </div>

    <div class="line_info">
      <%= form.submit  "登録" , class: 'btn btn-primary line_content_btn'%>
    </div>

  <% end %>
</div>
