<!-- メッセージとか -->
<p id="notice"><%= notice %></p>
<%= render 'layouts/show_danger_msg' %>


<div class="user_form">

  <%= form_with(model: @user, local: true) do |form| %>

    <h3>ユーザー情報編集</h3>

    <div class="line_info">
      <%= form.label "メールアドレス(※)",class: "line_content_1"   %>
      <label class="line_content_2_large_interval" ><%= @user.email %></label>
    </div>

    <div class="line_info">
      <%= form.label "管理業者名",class: "line_content_1"   %>
      <%= form.text_field :name ,class: "line_content_2_large_interval" ,maxlength: 40 %>
    </div>

    <span data-controller="set-pin"">

      <%# decided_flg→画面初期状態で座標が決定されているかどうか %>
      <%# ユーザー更新画面ではすでに座標登録されているので「true」 %>
      <%= form.hidden_field :decided_flg,:value => true ,:data => {:target => "set-pin.decided_flg"} %>

      <div  id = "map" class="user_edit_map" data-target="set-pin.map"></div>

      <%= render 'layouts/shared/yahoo_attribution' %>

      <div class="bisecting_box">
        <div class="bisecting_1">
          <%= form.label "緯度" %>
          <%= form.text_field :lat ,:data => {:target => "set-pin.lat"} %>
        </div>

        <div class="bisecting_2">
          <%= form.label "経度" %>
          <%= form.text_field :lon ,:data => {:target => "set-pin.lon"} %>
        </div>

      </div>

            <div class="line_info">
            </div>

      <div class="line_info">
         【📍位置確定処理】
         <a id="btn_set_address_by_latlon" class='btn btn-primary' data-action="set-pin#set_address_by_latlon" data-target="set-pin.btn_set">座標<br>↓<br>住所</a>

         <a id="btn_set_latlon_by_address" class='btn btn-primary' data-action="set-pin#set_latlon_by_address" data-target="set-pin.btn_set">座標<br>↑<br>住所</a>

         <a id="btn_reset_latlon" class='btn btn-primary' data-action="set-pin#reset_latlon" data-target="set-pin.btn_reset">座標確定解除</a>
      </div>

      <div class="line_info">
      </div>

      <div class="line_info">
        <%# ↓エラーメッセージ等表示枠 %>
        <a  data-target="set-pin.msg"></a>
      </div>

      <div class="line_info">
        <%= form.label "住所" ,class: "line_content_1" %>
        <%= form.text_field :address ,class: "line_content_2_large_interval input_long_words",maxlength: 255 ,:data => {:target => "set-pin.address"}%>
      </div>

      <div class="bisecting_box">
        <div class="bisecting_1">
          <%= form.label "電話" %>
          <%= form.text_field :tel  %>
        </div>

        <div class="bisecting_2">
          <%= form.label "FAX" %>
          <%= form.text_field :fax  %>
        </div>

      </div>

      <div class="line_info">
        <%= form.label "ホームページアドレス" ,class: "line_content_1" %>
        <%= form.text_field :url ,class: "line_content_2_large_interval input_long_words",maxlength: 4096 %>
      </div>

      <div class="line_info_multiline">
        <%= form.label "備考",class: "line_content_1" %>
        <%= form.text_area :memo ,class: "line_content_2_large_interval input_text_content"%>
      </div>

      <div class="line_info">
        <%= form.submit  "登録" , class: 'btn btn-primary line_content_2 input_long_words' ,:data => {:target => "set-pin.btn_save"} %>
      </div>

      <div class="line_info">

        <%= link_to "重要情報変更画面へ", edit_user_registration_path(@user.id), class: 'btn btn-primary line_content_2'  %>

        <%= link_to "駐車場画面へ", parkings_path, class: 'btn btn-primary line_content_4'  %>
      </div>
    </span>
  <% end %>
</div>
