<p id="notice"><%= notice %></p>

<h3 class="form_title"><%= current_user.name.to_s %>の駐車場一覧</h3>
<%= link_to '新規駐車場', new_parking_path , class: 'btn-primary btn-sm line_content_btn_3'%>

<table class="table_box">
    <tr class= "table_title_row">
      <th class= "table_content_symbol">表示番号</th>
      <th class= "table_content_name">駐車場名</th>
      <th colspan="2"  class= "table_content_btn"></th>
      <th class= "table_content_address">住所</th>
      <th class= "table_content_price">月額</th>
      <th class= "table_content_status">状態</th>
      <th class= "table_content_e_num">空き区画</th>
      <th class= "table_content_num">区画数</th>
      <th class= "table_content_memo">備考</th>
      <th class= "table_content_m_memo">備考（管理用、非表示）</th>
    </tr>

    <% @parkings.each do |parking| %>
      <tr class= "table_row">
        <td class= "table_content_symbol"><%= parking.symbol %></td>
        <td class= "table_content_name"><%= parking.name %></td>
        <td class= "table_content_btn"><%= link_to '編集', edit_parking_path(parking) %></td>
        <td class= "table_content_btn"><%= link_to '削除', parking, method: :delete, data: { confirm: "『#{parking.name}』を削除します。よろしいですか?" } %></td>
        <td class= "table_content_address"><%= parking.address %></td>
        <td class= "table_content_price"><%= parking.price.to_s + "円/月" %></td>
        <td class= "table_content_status"><%= parking.status_i18n %></td>
        <td class= "table_content_e_num"><%= parking.empty_number.to_s + "台" %></td>
        <td class= "table_content_num"><%= parking.number.to_s + "台"  %></td>
        <td class= "table_content_memo"><%= parking.memo %></td>
        <td class= "table_content_m_memo"><%= parking.managing_memo %></td>
      </tr>
    <% end %>
</table>

<br>
