<!DOCTYPE html>
<html>
  <head>
    <title>YachiyoParking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# ↓地図表示のため追記↓ %>
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPXVkSG1mRGFpMGlhOSZzPWNvbnN1bWVyc2VjcmV0Jng9MzA-"></script>

  </head>

  <body>
    <%# IEの場合、「非対応」である旨をメッセージで出す %>
    <script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"></script>

    <% if action_name != "parking_info" %>
    <%# 閲覧用の【駐車場情報画面】以外での表示 %>
      <% if user_signed_in? %>

        <a>ログインしています</a>
        <%= current_user.name.to_s %>

        <%= link_to "プロフィール", user_path(current_user.id) %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

      <% else %>

        <a>ログインしていません</a>
        <%= link_to "ログインする", new_user_session_path %>
        <br><br>
        <%= link_to "新規ユーザー", new_user_registration_path %>

      <% end %>

      <%= yield %>
    <% else %>
      <%# 閲覧用の【駐車場情報画面】以外での表示 %>
      <%= yield %>

    <% end %>
  </body>
</html>
