<!DOCTYPE html>
<html>
  <head>
    <title>YachiyoParking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# ↓地図表示のため追記↓ %>
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPXVkSG1mRGFpMGlhOSZzPWNvbnN1bWVyc2VjcmV0Jng9MzA-"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
